<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hoja de Vida</title>
    <link rel="stylesheet" href="../styles/stylesGeneral.css">
</head>
<body>
<h1>Hoja de Vida</h1>

<nav>
    <a href="index.html">Perfil</a>
    <a href="educacion.html">Educación</a>
    <a href="experiencia.html">Experiencia</a>
</nav>

<img src="../resources/km.jpg" alt="Foto de Kevin Yesid Mejia Villamizar" width="150">

<section><h2>Formación Académica</h2>
    <ul>
        <li>
            <strong>Ingeniería de Software</strong><br>
            Fundación Universitaria Compensar, Bogotá<br>
            Actualmente cursando 7° semestre (2025)
        </li>
        <li>
            <strong>Técnico Profesional en Desarrollo de Software</strong><br>
            Fundación Universitaria Compensar, Bogotá<br>
            Graduado en Octubre de 2024
        </li>
        <li>
            <strong>Bachiller Comercial</strong><br>
            Gimnasio Nueva América, Bogotá<br>
            Graduado en Diciembre de 2012
        </li>
    </ul>
</section>
<section>
    <h2>Certificaciones y Diplomados</h2>
    <ul>
        <li>CERTIFICADO DE INSCRIPCIÓN PROFESIONAL (TÉCNICA PROFESIONAL EN DESARROLLO DE SOFTWARE) – Copnia (2025)</li>
        <li>Desarrollo de Aplicaciones Móviles - Colsubsidio (2018)</li>
        <li>Taller de Reglamentación Laboral Colombiana - Fundación Universitaria Compensar (2022)</li>
        <li>Fundamentos en SAP - Fundación Universitaria Compensar (2022)</li>
        <li>Herramientas Digitales para la Gestión Empresarial - Compensar (2022)</li>
    </ul>
</section>

<footer>
    Correo: <a href="mailto:kevinmejiavillamizar@gmail.com">kevinmejiavillamizar@gmail.com</a> |
    Teléfono: <a href="tel:3112921717">3112921717</a> <br>
    LinkedIn: <a href="https://linkedin.com/in/kevin-mejia-villamizar/" target="_blank" rel="noopener">linkedin.com/in/kevin-mejia-villamizar/</a> <br>
    GitHub: <a href="https://github.com/Mr-Mejia" target="_blank" rel="noopener">github.com/Mr-Mejia</a>
</footer>
</body>
</html>