<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hoja de Vida</title>
    <link rel="stylesheet" href="../styles/stylesGeneral.css">
</head>
<body>
<h1>Hoja de Vida</h1>

<nav>
    <a href="index.html">Perfil</a>
    <a href="educacion.html">Educación</a>
    <a href="experiencia.html">Experiencia</a>
</nav>
<h2>Información Personal </h2>
<img src="../resources/km.jpg" alt="Foto de Kevin Yesid Mejia Villamizar" width="150">

<section>
    <h2>Datos Personales </h2>
    <h3>Nombre: Kevin Yesid Mejia Villamizar</h3>
    <h3>Fecha y lugar de nacimiento: Bogotá, Colombia 27 de Marzo de 1996</h3>
    <p>
        Ingeniero de Software en formación en la Fundación Universitaria Compensar, con experiencia certificada en el desarrollo de soluciones web y móviles tanto en frontend como en backend. Destaco por mi dominio de tecnologías como Java (8, 11, 17), Spring Boot, Angular, y frameworks como JSF, JEE, JSTL y LitElement, así como en el diseño y generación de reportes empresariales con JasperReports y Birt. Mi objetivo es aportar valor al negocio mediante la entrega de software robusto, escalable y alineado a las necesidades del cliente.
    </p>
    <ul>
        <li>Español (nativo)</li>
        <li>Inglés (intermedio)</li>
    </ul>
</section>

<footer>
    Correo: <a href="mailto:kevinmejiavillamizar@gmail.com">kevinmejiavillamizar@gmail.com</a> |
    Teléfono: <a href="tel:3112921717">3112921717</a> <br>
    LinkedIn: <a href="https://linkedin.com/in/kevin-mejia-villamizar/" target="_blank" rel="noopener">linkedin.com/in/kevin-mejia-villamizar/</a> <br>
    GitHub: <a href="https://github.com/Mr-Mejia" target="_blank" rel="noopener">github.com/Mr-Mejia</a>
</footer>

</body>
</html>